---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/formatted-date.astro";
import GlobalLayout from "@/layouts/global-layout.astro";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<GlobalLayout>
  <ol class="flex flex-col items-center gap-1.5">
    {
      posts.map((post) => (
        <li class="w-full hover:scale-[1.005] transition-all rounded-lg duration-200">
          <a href={`/posts/${post.id}/`} class="flex flex-col gap-2 px-2 py-4">
            <FormattedDate date={post.data.pubDate} />
            <h2>{post.data.title}</h2>
          </a>
        </li>
      ))
    }
  </ol>
</GlobalLayout>
