---
import { getCollection } from "astro:content";
import GlobalLayout from "@/layouts/global-layout.astro";
import FormattedDate from "@/components/formatted-date.astro";
import { ArrowRightIcon } from "lucide-react";

const posts = (await getCollection("posts"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 5);
---

<GlobalLayout>
  <section class="flex flex-col orchestration h-dvh">
    <h1 class="mb-10">Latest</h1>
    <ol>
      {
        posts.map((post, idx) => (
          <li class="w-full py-2.5 border-t">
            <a
              href={`/posts/${post.id}/`}
              class="flex flex-col gap-2 px-2 py-4 hover:scale-[1.005] transition-all no-underline"
            >
              <FormattedDate date={post.data.pubDate} />
              <span class="text-2xl font-bold">{post.data.title}</span>
              <span class="flex gap-1 items-center mt-2">
                Read more
                <ArrowRightIcon className="size-4" />
              </span>
            </a>
          </li>
        ))
      }
    </ol>
    <a href="/posts" class="no-underline ml-auto mt-auto gap-1 flex items-center"
      >All Posts <ArrowRightIcon className="size-4" />
    </a>
  </section>
</GlobalLayout>
