---
const today = new Date();
---

<footer class="flex max-w-layout items-center mx-auto justify-center gap-2.5 py-14">
  <p class="text-sm">&copy; {today.getFullYear()} GreattitJY. All rights reserved.</p>
</footer>
<style></style>
