---
import FormattedDate from "../components/formatted-date.astro";
import GlobalLayout from "./global-layout.astro";
import { type CollectionEntry } from "astro:content";

type Props = CollectionEntry<"posts">["data"];

const { title, description, pubDate } = Astro.props;
---

<GlobalLayout>
  <article class="flex flex-col gap-8">
    <div class="space-y-2">
      <FormattedDate date={pubDate} />
      <h1>{title}</h1>
    </div>
    <slot />
  </article>
</GlobalLayout>
